body {
    font-family: 'Poppins', sans-serif;
    background-image: url('https://raw.githubusercontent.com/iarcher444/dev-david-lab/refs/heads/main/vecteezy_background-of-green-grass-field-cartoon-drawing_14572097.jpg');
    background-size: cover;
}

/* Game Piece */
.game-piece {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://raw.githubusercontent.com/iarcher444/dev-david-lab/refs/heads/main/illustration-of-a-girl-catching-butterfly-with-a-net-isolated-on-white-background-cute-kid-enjoying-summer-spring-picture-with-funny-character-vector.png');
    background-size: cover;
    cursor: pointer;
}

/* Target */
.target {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 50px); 
    background-image: url('https://raw.githubusercontent.com/iarcher444/dev-david-lab/refs/heads/main/257286.png');
    background-size: cover; 
    background-color: transparent;
    border: none;

}
